body {
    font-size: 20px;
    }

form {
    margin: 40px;    
 }

input {
    background-color: rgb(191, 214, 217);
    height: 25px;
}

button {
    color: black;
    background-color: rgb(191, 214, 217);
    padding: 10px;
}

    /* stylingen under er gjort for å få input boksene til å komme rett under hverandre */


#txtGender {
    margin-left: 20px;
}

#txtBirthdate {
    margin-left: 4px;
}

#txtPicture {
    margin-left: 22px;

    
}
