body {
    font-size: 20px;
    Margin: 10px;
}

h1 {
    text-align: center;
    color: #762DDD ;
    font-family: Verdana;
}

h2 {
    font-size: 40px;
    color: #762DDD;
    text-shadow: black 40px;
}

p{
    color: black;
    
}

strong {
    color: #762DDD;

}

img {
    width: 350px;
}

#concertArtist {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

#concertInfo{
    justify-content: space-between;
    color: black;
    width: 40%;
    padding: 10px;
    margin-top: -40px;
    margin-left: 30px;
    
    
}


section {
    width: 100%;
    margin-bottom: 40px;
}

hr {
   border-color: gray;
   margin-left:25%;
   margin-right:25%;


}