* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}

.menu-bar {
    width: 100%;
}

.header {
    height: 100vh;
}

.video-background {
    right: 0;
    top: 0;
    position: absolute;
    min-width: 100%;
    min-height:100% ;
    width: auto;
    height: auto;
    z-index: -1;
}

#banner {
    width: 500px;
    background-color: black;
}



/*

@media screen and (max-width: 500px) {

.video-background {
    width: 100%;
    height: auto;
}

}
*/