* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    width: 100%;
}

.menu-bar {
    width: 100%;
}

.header {
    height: 100vh;
}

.video-background {
    right: 0;
    top: 0;
    position: absolute;
    min-width: 100%;
    min-height:100% ;
    width: auto;
    height: auto;
    z-index: -1;
}

#banner {
    height: 100px;
    color: #e68545;
    width: 40%;
    background-color: #333333;
    opacity: 0.90;
    margin-top: 300px;
    margin-left: 370px;
    padding: 100px;
    text-align: center;
    font-size: 30px;
}

 


@media screen and (max-width: 780px) {

body {
    background-color: #595A5A;
}

.video-background {
    width: 100%;
}


#banner  {
    display: none;
}

#contactInfo {
    margin-top: -100px;

}



}