

body {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}


#contactInfo {
    display: flex;
    flex: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: #d9c7f2;
    padding: 5px;
}



.Address h1 {
    font-size: 1.3vw;
}

.Address p {
    font-size: 15px;
}

img[alt*="facebook"] { 
    width: 40px;
}

img[alt*="instagram"] {
    width: 55px;
}


footer {
    background-color: #333333;
    width: 100%;
    text-align: center;
    color: lightgray;
    height: 50px;
}
