body {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}


#contactInfo {
    width: 100%; 
    padding: 15px;
    background-color: #595A5A;
    color: white;
    font-family: Rozha One,Constantia,
                Lucida Bright,Lucidabright,
                "Lucida Serif",Lucida,"DejaVu Serif",
                "Bitstream Vera Serif","Liberation Serif",
                Georgia,serif;
}

 #contactInfo #wrapper h1 {
    color:#72D0D0;
    margin: auto;
    margin-bottom: 30px;
    font-size: 40px;

}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
}

#contactInfo p {
    width: 100%;
    line-height: 30px;
}

#contactInfo h2 {
    color:#72D0D0;
    margin-top: 40px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

#appLogo {
    margin-left: 300px;
}



img[alt*="facebook"] { 
    width: 14%;
}

img[alt*="instagram"] {
    width: 18%;
}


footer {
    width: 100%;
    text-align: center;
    color: black;
    height: 60px;
    background-color: #e68545;
    padding-top: 10px;
}


@media screen and (max-width: 780px) {


#contactInfo {
    width: 100%;
    display: flex;
}


#contactInfo h2 {
    color:#72D0D0;
    margin-top: 40px;
    width: 100%;
}

#contactInfo #wrapper h1 {
    margin-left: -2px;

}


#wrapper {
    display: flex;
    flex-direction: column;
}







}