* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.menu-bar {
    background-color: #333333;
    opacity: 0.8;
    text-align: center;
    z-index: 2;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: white;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: white;
}

.active, .menu-bar ul li:hover {
    background-color: #e68545;
    border-radius: 3px;
}

.sub-menu {
    display: none;
}

.menu-bar ul li:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: #333333;
    margin-top: 15px;
    margin-left: -30px;
}

.menu-bar ul li:hover .sub-menu ul {
    display: block;
}

.menu-bar ul li:hover .sub-menu ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 0.5px dotted #28747E;
    background: transparent;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu ul li:last-child {
    border-bottom: none;
}


.menu-bar ul li:hover .sub-menu ul li a:hover {
    color: #28747E;
}
