body {
    font-size: 20px;
    Margin: 10px;
    margin-top: -100px;
    color: pink;



}

h1 {
    font-size: 30px;
    font-family: Verdana;
    color: #762DDD;
}

p {
    color: black;
    
}

strong {
    color: #762DDD;

}

img {
    width: 350px;
}



#artists{
    justify-content: space-between;
    font-family: sans-serif;
    color: black;
    width: 40%;
    padding: 40px;
    margin-left: 30px;
    
}

.profile{
    width: 16%;
    padding: 10px;
    font-size: 1.5vw;
}

section {
    width: 100%;
    margin-bottom: 40px;
}