body {
    font-size: 20px;
    Margin: 10px;
}

header {
    width: 100%;
}

h1 {
    font-size: 30px;
    font-family: Verdana;
    color: #28747E;
}


strong {
    color: #333333;

}

img {
    width: 350px;
}

#album {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
    margin-left: 100px;
}


#albumInfo{
    color: black;
    font-size: 20px;
    width: 30%;
    margin-left: 50px;
    margin-top: 90px;
    line-height: 40px;
    
}


section {
    width: 100%;
    margin-bottom: 40px;
}