body {
    font-size: 20px;
    Margin: 10px;
}
header {
    width: 100%;
}

h1 {
    font-size: 30px;
    font-family: Verdana;
    color: #28747E;
}

strong {
    color: #333333;
}

#artistSection {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-left: 100px;
}

#artistInfo {
    margin-left: 50px;
    margin-top: 90px;
    line-height: 40px;
}

#artistPhoto img  {
    width: 350px;
}



section {
    width: 100%;
    margin-bottom: 40px;
}