body {
    font-size: 20px;
    Margin: 10px;
}
header {
    width: 100%;
}

h1 {
    font-size: 40px;
    color: #28747E;
    font-family: Rozha One,Constantia,
                Lucida Bright,Lucidabright,
                "Lucida Serif",Lucida,"DejaVu Serif",
                "Bitstream Vera Serif","Liberation Serif",
                Georgia,serif;
}

strong {
    color: #333333;
}

#artistSection {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-top: 150px;
}

#artistInfo {
    margin-left: 50px;
    line-height: 35px;
}

#artistPhoto img  {
    width: 350px;
}



section {
    width: 100%;
    margin-bottom: 40px;
}


@media all and (max-width: 780px) {

    h1 {
        margin-top: 50px;
        text-align: center;
    }
    
    #artistSection {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-left: 80px;
    }

    #artistInfo {
        margin-left: -70px;
    }
    
    #artistPhoto {
        width: 100%;
        margin-top: -50px;
    }
    
}    