body {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    margin-bottom: 200px;
}

section {
    width: 100%;
    margin-left: 0px;
}

h1 {
    color: #333333;
    margin: 10px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
}


form {
    margin: 40px; 
    color: black;   
}

input {
    background-color:rgb(191, 214, 217);
    height: 25px;
}

button {
    color: black;
    background-color:rgb(191, 214, 217);
    padding: 10px;
}

/* stylingen under er gjort for å få input boksene til å komme rett under hverandre */


#txtAlbumName {
    margin-left: 10px;

}


#txtReleaseDate {
    margin-left: 5px;
}

#txtStudioAlbum{
    margin-left: 8px;

}

#txtPrice {
    margin-left: 80px;
}

#txtAlbumCover {
    margin-left: 10px;

}

#txtIsTop{
    margin-left: 95px;

}

@media all and (max-width: 780px) {

    section {
        width: 100%;
        margin-left: 0px;
}

}
